NEXT_PUBLIC_USE_TESTNET=true
NEXT_PUBLIC_VANTA_USDC_WALLET=0x0000000000000000000000000000000000000000
RESEND_API_KEY=re_xxxxxxxxxxxxx

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5439/hyperscaled

VALIDATOR_API_URL=http://localhost:48888

SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=
SUMSUB_WEBHOOK_SECRET=
SUMSUB_LEVEL_NAME=basic-kyc-level
