NEXT_PUBLIC_USE_TESTNET=true
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=placeholder
RESEND_API_KEY=re_xxxxxxxxxxxxx

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5439/hyperscaled

VALIDATOR_API_URL=http://localhost:48888
