# dependencies
node_modules/

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local
.env.*
# vercel
.vercel

# Sentry Config File
.env.sentry-build-plugin

# Playwright e2e tests
playwright-report/
test-results/
.playwright-cache/
